@charset "utf-8";
/* CSS Document */

body {font-family:'Open Sans', sans-serif; font-size:12px; color:#2c2c2c; background:#ffffff; margin:0; padding:0px;}

a{text-decoration:none; outline:none; border:none;}
p{font-family:'Open Sans', sans-serif; font-size:12px; color:#2c2c2c; line-height:18px; text-align:left; font-weight:normal; margin:0 0 10px 0;}

h1{font-family:'Open Sans', sans-serif; font-size:14px; font-style:italic; display:block; font-weight:600; color:#4AB9B5; margin:0px 0px 0px 0px; padding:17px 0px 10px 38px;}

img {border:none; vertical-align:top;}
input, textarea, select{padding:0px; font-family: 'Open Sans', sans-serif; font-size:12px; color:#505050;}
.divclear{clear:both; float:none; font-size:0px; height:0px; margin:0px; padding:0px;}




/*HOME PAGE
--------------------------------------------------*/
.main-part{width:1002px; margin:0 auto; padding:0 0 0 0;}
.header-part{width:1002px; float:left; padding:0 0 0 0;}
.for-banner{width:1002px; height:133px; background:url(../images/header.jpg) left top no-repeat; float:left; padding:0 0 0 0;}
.logo{float:left; padding:25px 0 0 21px;}
.for-top-right{float:right; padding:49px 35px 0 0;}
.for-welcome{font-family:'Open Sans', sans-serif; font-size:19px; font-style:italic; color:#ffffff; font-weight:600;}
.for-welcome span{font-family:'Open Sans', sans-serif; font-size:14px; font-style:italic; color:#ffffff; font-weight:600;}


.menu-part{width:1000px; float:left; border-left:1px solid #c4cdd7; border-right:1px solid #c4cdd7; background:url(../images/menu-bg.jpg) left bottom repeat-x; padding:0 0 0 0;}

.second-sepret{float:left; background:url(../images/sepreter.jpg) right top no-repeat; padding:0 21px 0px 21px;}
.second-sepret:last-child{float:left; background:none; padding:0 21px 0px 21px;}
.one-icon{float:left; padding:0 0 0 0;}
.for-link{float:left; font-family:'Open Sans', sans-serif; font-size:14px; font-weight:700; color:#9FA1A4; padding:0 0 0 0;}
.for-link a{font-family:'Open Sans', sans-serif; font-size:14px; color:#9FA1A4; display:block; text-decoration:none; font-weight:700; /*padding:20px 0 18px 0px;*/padding:20px 0 0px 0px;}
.for-link a:hover{color:#4AB9B5;}

.content-part{width:1002px; float:left; padding:0 0 0 0;}
.for-sepret-line{width:1000px; float:left; border-right:1px solid #c4cdd7; border-bottom:1px solid #c4cdd7; border-left:1px solid #c4cdd7; padding:0 0 0 0;}
.one-title{width:168px; float:left; font-weight:600; font-family:'Open Sans', sans-serif; font-size:12px; color:#5F6062; text-transform:uppercase; border-right:1px solid #c4cdd7; padding:8px 0 8px 39px;}
.two-title{width:189px; float:left; font-weight:600; font-family:'Open Sans', sans-serif; font-size:12px; color:#5F6062; text-transform:uppercase; border-right:1px solid #c4cdd7; padding:8px 0 8px 11px;}
.three-title{width:386px; float:left; font-weight:600; font-family:'Open Sans', sans-serif; font-size:12px; color:#5F6062; text-transform:uppercase; border-right:1px solid #c4cdd7; padding:8px 0 8px 11px;}

.five-title{width:179px; float:left; font-weight:600; font-family:'Open Sans', sans-serif; font-size:12px; color:#5F6062; text-transform:uppercase; padding:8px 0 8px 11px;}






.date-sepret-line{width:1000px; float:left; border-right:1px solid #c4cdd7; border-left:1px solid #c4cdd7; border-bottom:1px solid #c4cdd7; padding:0 0 0 0;}
.date-one-line{width:1000px; float:left; border-right:1px solid #c4cdd7; background:url(../images/highlited-bg.jpg) left top repeat-x #ffffff; border-bottom:1px solid #c4cdd7; border-left:1px solid #c4cdd7; padding:0 0 0 0;}

.date-one-title{width:168px; min-height:25px; float:left; font-family:'Open Sans', sans-serif; font-size:12px; color:#5F6062; border-right:1px solid #c4cdd7; padding:8px 0 0 39px;}
.date-two-title{width:189px; min-height:25px; float:left; font-family:'Open Sans', sans-serif; font-size:12px; color:#5F6062; border-right:1px solid #c4cdd7; padding:8px 0 0 11px;}
.date-three-title{width:386px; min-height:25px; float:left; font-family:'Open Sans', sans-serif; font-size:12px; color:#5F6062; border-right:1px solid #c4cdd7; padding:8px 0 0 11px;}

.date-five-title{width:179px; min-height:25px; float:left; font-family:'Open Sans', sans-serif; font-size:12px; color:#5F6062; padding:8px 0 0 11px;}





.login-main{width:357px; margin:0 auto; padding:35px 0 0 0;}
.for-log-repeat{width:359px; float:left; background:url(../images/login-bg-repeat.jpg) left top repeat-y; padding:0 1px 0 1px;}

.for-horozontal-repeat{width:357px; float:left; background:url(../images/login-bg.jpg) left bottom repeat-x #ffffff; padding:0 0 0 0;}

.for-round{float:left; padding:0 0 0 0;}
/*.for-form-mn{width:310px; float:left; padding:14px 0 0 25px;}*/
.for-form-mn{width:326px; float:left; padding:14px 0 0 17px;}
/*.for-lg-mn{width:310px; float:left; padding:0 0 15px 0;}*/
.for-lg-mn{width:326px; float:left; padding:0 0 15px 0;}
.bottom-lg-mn{width:310px; float:left; padding:0 0 0 0;}
/*.for-name{width:112px; float:left; font-family:'Open Sans', sans-serif; font-size:12px; color:#5F6062; font-weight:600; padding:3px 0 0 0;}*/
.for-name{width:121px; float:left; font-family:'Open Sans', sans-serif; font-size:12px; color:#5F6062; font-weight:600; padding:3px 0 0 0;}
.for-name span{display:block; font-family:'Open Sans', sans-serif; font-size:10px; color:#5F6062; font-weight:normal; font-style:italic; padding:0 0 0 0;}
.for-s-bg{width:196px; height:26px; background:url(../images/for-login-search.png) left top no-repeat; float:left; padding:0 0 0 0;}
.for-area-bg{width:196px; height:85px; background:url(../images/for-login-area.png) left top no-repeat; float:left; padding:0 0 0 0;}
.for-area-bg-big{width:306px; height:50px; background:url(../images/for-login-area-big.png) left top no-repeat; float:left; padding:0 0 0 0;}
.one-s-bg{width:102px; height:26px; background:url(../images/two-login-search.png) left top no-repeat; float:left; padding:0 0 0 0;}
.two-s-bg{width:93px; height:26px; background:url(../images/two-login-search.png) left top no-repeat; float:left; padding:0 0 0 0;}
.small-fid-search{width:83px; float:left; border:none; outline:none; font-family:'Open Sans', sans-serif; font-size:11px; color:#5F6062; background:transparent; padding:3px 0 2px 5px;}

.new-fid-search{width:185px; float:left; border:none; outline:none; font-family:'Open Sans', sans-serif; font-size:11px; color:#5F6062; background:transparent; padding:3px 0 2px 5px;}
.new-fid-area{width:185px; height:75px; float:left; overflow:auto; border:none; outline:none; font-family:'Open Sans', sans-serif; font-size:11px; color:#5F6062; background:transparent; padding:4px 0 2px 5px;}
.for-enter{float:right; padding:0 10px 0 0;}
.for-cancel{width:90px; float:left; padding:0 0 0 0;}
.btn-cancel{border:none; outline:none; font-size:14px; cursor:pointer; background:transparent; font-weight:700; font-style:italic; color:#EF4136; padding:0 0 0 0;}
.btn-enter{border:none; outline:none; font-size:14px; cursor:pointer; background:transparent; font-weight:700; font-style:italic; color:#007D70; padding:0 0 0 0;}

.for-hd-login{float:left; height:73px; background:url(../images/login-header.png) left top no-repeat; width:359px; padding:0 0 0 0;}
.log-logo{float:left; padding:5px 0 0 11px;}
.two-log-logo{float:left; padding:16px 0 0 25px;}
.top-login-tex{float:left; font-size:17px; font-style:italic; font-weight:600; color:#ffffff; padding:33px 0 0 19px;}
.for-select{width:190px; float:left; padding:2px 0 0 2px; *margin:2px 0 0 3px;}

paging_full_numbers span.paginate_button,
.paging_full_numbers span.paginate_active,
.pagination li a,
.button,
.paging_full_numbers span.paginate_button,
.paging_full_numbers span.paginate_active {
    border: 1px solid #AAA;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    cursor: pointer;
    display: inline-block;
    font-family: Arial, sans-serif;
    font-size: 13px;
    line-height: 16px;
    padding: 4px 10px;
}
/**
 * Pagination
 */
.pagination {
    padding: 0;
    margin: 0;
    list-style: none;
}
.pagination li,
.paging_full_numbers span.paginate_button,
.paging_full_numbers span.paginate_active {
    display: block;
    float: left;
    margin-right: 3px;
}

.pagination li a,
.paging_full_numbers span.paginate_button,
.paging_full_numbers span.paginate_active {
    display: block;
    padding: 4px 9px;
}

.pagination li.current a,
.paging_full_numbers span.paginate_active {
    background: #FFF;
    filter: none;
}
.table_menu {
    left: 0;
    margin: 0 0 -3px;
    overflow: hidden;
    padding: 5px 0 0;
    position: relative;
    top: 0;
    width: 100%;
	z-index:1;   
}
.table_menu .left {
    float: left;
}

.table_menu ul {
    margin: 0;
    padding: 0;
}
.table_menu li {
    float: left;
    list-style: none outside none;
    margin: 0;
    padding: 0 6px 0 0;
}
.table_menu li a{text-decoration: none; color: #2C2C2C}
.for-s-file {
    float: left;
    padding: 0;
    width: 196px;
}
.validateTips{width:100%; display:block; margin-bottom:10px;}
#files_help{background: url('../images/login-bg-repeat.jpg') repeat-y;padding: 10px;}
.search-main{float:right;padding:10px 10px 0px 0px;}
.input-main{width:196px; height:26px; background:url(../images/for-login-search.png) left top no-repeat; float:left; padding:0 10px 0 0;}
.input-class{width:190px;padding:4px 0 3px 7px;border:none;background:transparent;}
.filter-button{ background: none repeat scroll 0 0 #007D70; border: medium none; color: #FFFFFF; cursor: pointer; font-size: 14px;  font-style: italic;  font-weight: 700;outline: medium none; padding: 3px 11px 3px 7px;float:right;border-radius:4px;}
.posted-main{}
.form-date-main label{ float:left; padding:3px 10px 0px 0px;}
.form-date{float:left; padding:4px 10px 0px 0px;}
.form-date input{border:1px solid #cccccc; padding:0px 0px 0px 5px;width:72px;}
.multi-select{border: 1px solid #CCCCCC; float: left; padding: 0; width: 196px;}
.menu-part{position:relative;}
.submenu{position:absolute; right:0; top:60px; border-left:1px solid #C4CDD7;}
.sub-link{background: url("../images/menu-bg.jpg") repeat-x scroll left bottom transparent;  position: relative;  z-index: 10000; padding:10px 23px;}
.sub-link a{ color: #9FA1A4;font-family: 'Open Sans',sans-serif;font-size: 14px; font-weight: 700; padding: 0; display:block;}
.for-link-bullet{ color: #9FA1A4; float: left; font-family: 'Open Sans',sans-serif; font-size: 14px;  font-weight: 700;  padding:20px 0 0 13px;}

.paging_full_numbers span.paginate_active {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid;
    filter: none;
}

.paging_full_numbers {
    height: 22px;
    line-height: 22px;
    margin-top: 10px;
    width: 405px !important;
}